body {
  background: #000;
  color: #fff;
  font-family: Arial;
  padding: 20px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  background: red;
  color: #fff;
  border: none;
}

.post {
  border: 1px solid #333;
  padding: 10px;
  margin-top: 10px;
}

.post img {
  width: 100%;
}

.delete {
  background: darkred;
  margin-top: 5px;
}