body {
  margin: 0;
  font-family: Arial;
}

.stories {
  display: flex;
  gap: 12px;
  padding: 10px;
}

.story {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: linear-gradient(45deg, orange, purple);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#adminLogin, #adminPanel {
  padding: 10px;
}

#storyModal {
  display: none;
  position: fixed;
  inset: 0;
  background: black;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#storyImg {
  width: 90%;
  max-width: 400px;
  border-radius: 12px;
}