body {
  font-family: Arial, sans-serif;
}

.stories {
  display: flex;
  gap: 10px;
}

.story {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: orange;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
}

/* STORY MODAL */
#storyModal {
  display: none;
  position: fixed;
  inset: 0;
  background: black;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#storyImg {
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
}