/* STORY */
.stories {
  display: flex;
  gap: 12px;
  padding: 10px;
}

.story {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: linear-gradient(45deg, orange, purple);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* STORY MODAL */
#storyModal {
  display: none;
  position: fixed;
  inset: 0;
  background: black;
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.storyBox {
  position: relative;
}

#storyImg {
  width: 90vw;
  max-width: 400px;
  border-radius: 10px;
}

#storyViews {
  position: absolute;
  top: -30px;
  color: white;
}

#deleteStoryBtn {
  position: absolute;
  bottom: -45px;
  width: 100%;
}